a,
a:visited:after {
    text-decoration: underline;
}
#Base22Reader,
#aw-authoring-tools,
#aw-back-to-news,
#aw-footer,
#aw-header-top,
#aw-main-nav-left,
#aw-main-nav-right,
#body-content-clone iframe,
#claim-search-controls,
#top-breadcrumbs,
.aw-content-tools,
.aw-dashboard-content .row .span4,
.aw-footer,
.aw-footer-bottom,
.aw-header-bottom,
.aw-header-top,
.aw-icon-notification,
.aw-left-nav,
.aw-rating.well,
.content-column-right,
.navbar-inner,
.news-main-content .row .span3,
.span3 .small-column,
.wpthemeInner,
.wpthemeRight {
    display: none;
}
* {
    color: #000 !important;
    overflow: hidden !important;
}
a:visited:after {
    content: "" !important;
    font-size: 0.8em;
}
a[href]:after {
    content: "";
}
#body-content-clone,
#header_title,
#print_area,
#qr_print,
#url_print {
    display: block !important;
}
.odx-logo-wrapper .odx-logo img{
    max-width: 50% !important;
}
#aw-content-layout-two-columns {
    margin: left;
}
#selected_family_member,
.bills,
.widget.claims-smartphone .item .claimstatus {
    margin-bottom: 20px;
}
.span3 {
    width: 1px;
}
.span4,
.span9 {
    width: 99%;
    float: left;
}
.span4 {
    clear: left;
}
.aw-dashboard-content {
    margin-left: 15px;
    width: 100%;
}
.aw-dashboard-content .row {
    border-bottom: medium none !important;
}
.aw-dashboard-content .row .span9 {
    width: 94%;
}
.aw-dashboard-content .row .span9 .news-center-content {
    border-right: none;
}
.program-center-content {
    border: none;
}
.wrapper-notifications {
    width: 96%;
    margin-left: 0;
    border: 1px solid #ccc;
}
.wrapper-notifications strong {
    font-size: 1.5em;
    margin-left: -20px;
}
#aw-superior {
    margin-top: 30px;
}
#list-children-items {
    border: 1px solid #ccc;
    clear: both;
}
#qr_print,
#url_print {
    float: left;
}
#bodyContent {
    text-align: justify;
}
.claimstatus {
    display: inline-block;
}
.claiminfo {
    display: block;
    clear: both;
}
.claims-details-btn {
    max-width: 50%;
    display: inline-block;
}
.wps-icon-colors.wps-icon-color-Processed {
    display: block;
}
.help-container,
.print-icons-container,
.small-column {
    display: none;
}
.separator {
    margin-top: 200px;
}
.widget.timeLine .post {
    margin-left: 0;
}
.large-column {
    width: 90%;
}
@media print {
    @page {
        margin: 1cm;
        background-color: #fff;
    }
}
.contentPage {
    background-color: #fff !important;
}
.qtip {
    display: none !important;
}
.main-modal-print {
    display: none;
}
.modal-on-print {
    display: block;
    width: 100%;
}
.wpthemeInner {
    display: block;
}
.iop_mobile-menu {
    display: none;
}
.single-column-footer {
    display: none;
}
.odx-more-information {
    display: none;
}
.odx-share-this {
    display: none !important;
}
/*START: List Items*/
ol {
    list-style-type: decimal;
    list-style-position:inside;
}
ul {
    list-style-type: disc;
    list-style-position:inside;
}
/*END: List Items*/
